{% extends 'blog/base.html' %}

{% block title %}Nosotros{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="mb-4"> BIENVENIDO A HUELLITAS</h1>
            <p class="lead">
                <strong>Huellitas</strong>,nuestro espacio dedicado al cuidado, protección y amor por los animales. Aquí, cada publicación está pensada para ayudarte a ser parte del cambio.


            </p>

            <hr class="my-4">

            <h2>Nuestro Propósito: Una Segunda Oportunidad para Cada Huella</h2>
            <p>
                Este blog nació del profundo compromiso con miles de perros y gatos que merecen una segunda oportunidad y una vida llena de amor. En Huellitas, vas a encontrar información valiosa y práctica sobre:
            </p>
            <ul>
                <li>Adopción Responsable: Te guiamos en el camino para sumar un nuevo miembro a tu familia, destacando la importancia de un hogar seguro y lleno de cariño.</li>
                <li>Castración: El Pilar del Control Poblacional: Concientizamos sobre la castración como la herramienta más efectiva para prevenir el abandono y el sufrimiento de innumerables animales.</li>
                <li>Tránsito y Difusión: Tu Rol en la Red Solidaria: Te mostramos cómo podés ayudar brindando un hogar temporal a un animal en necesidad o difundiendo casos para que encuentren a su familia definitiva.</li>
            </ul>
            <p>Queremos construir una red solidaria donde cada acción, por pequeña que sea, cuente y marque la diferencia en la vida de un animal. Tu participación es fundamental para lograrlo.</p>
            <hr class="my-4">

            <h2>El Equipo Detrás de Huellitas:</h2>
            <p>
                Somos un pequeño pero gran equipo impulsado por una pasión compartida: el bienestar animal. Combinamos nuestro entusiasmo por la comunicación, la tecnología y, sobre todo, el amor por los animales, para crear este espacio.
            </p>
            <ul>
                <li><strong>Cosme Fulanito - Fundador</strong> </li>
                <li><strong>Cosme Fulanito  - Veterinario</strong> </li>
                <li><strong>Cosme Fulanito  - Veterinario</strong> </li>
                <li><strong>Cosme Fulanito  - Colaborador 1</strong> </li>
                <li><strong>Cosme Fulanito  - Colaborador 2</strong> </li>
                <li><strong>Cosme Fulanito  - Colaborador 3</strong> </li>
            </ul>
            <p>
                Trabajamos con dedicación para investigar, escribir y mantener este espacio, siempre buscando que la información sea relevante, precisa y que te motive a ser un agente de cambio en la vida de los animales.
            </p>

            <hr class="my-4">

            <p>
                ¡Gracias por ser parte de la comunidad Huellitas! Esperamos que cada visita te inspire a ayudar y que juntos podamos dejar huellas de amor en la vida de muchos animales.
            </p>
        </div>
    </div>
{% endblock %}