{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Establecer Nueva Contraseña{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="mb-4">Establecer Nueva Contraseña</h1>
            <div class="card card-body">
                {% if validlink %}
                    <p class="mb-3">Por favor, introduce tu nueva contraseña.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary mt-3">Cambiar contraseña</button>
                    </form>
                {% else %}
                    <p>El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado.</p>
                    <p>Por favor, solicita un nuevo restablecimiento de contraseña.</p>
                    <p><a href="{% url 'password_reset' %}">Solicitar un nuevo restablecimiento</a></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}