{% extends 'blog/base.html' %}

{% block title %}Acerca de Nosotros{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="mb-4">Bienvenido a Huellitas</h1>
            <p class="lead">
                <strong>Huellitas</strong>Huellitas es un blog dedicado a brindar información útil y actualizada sobre adopción responsable, castración, tránsito y actividades vinculadas al bienestar animal. Nuestro objetivo es ser un canal claro y confiable para quienes desean involucrarse o conocer más sobre estas temáticas.
            </p>

            <hr class="my-4">

            <h2>Nuestro Propósito</h2>
            <p>
                En un contexto donde muchos animales necesitan ayuda, buscamos facilitar el acceso a recursos, contactos y herramientas que promuevan soluciones sostenibles. Difundimos animales en adopción, campañas de castración, oportunidades de tránsito y eventos solidarios, con el fin de conectar a personas interesadas con causas concretas.

A través de contenido claro, organizado y confiable, trabajamos para fomentar la participación responsable y el compromiso con el cuidado animal.
            </p>

            <hr class="my-4">

            <h2>El Equipo Detrás del Blog</h2>
            <p>
                Somos un grupo de personas comunes, con un compromiso enorme por los que no tienen voz. Detrás de este blog hay amor, horas sin dormir, traslados de urgencia, rescates, curaciones, pero también abrazos, segundas oportunidades y muchas historias con final feliz.
            </p>
            <ul>
                <li><strong>Dr. Martín Salazar -</strong> Médico veterinario.</li>
                <li><strong>Dr. Maria Aguilar -</strong> Médico veterinario.</li>
               <li><strong>Dr. Salma Torres -</strong> Médico veterinario.</li>
                <li><strong>Camila Rivero -</strong> Asistente veterinaria.</li>
                <li><strong>Carolina Méndez  -</strong> Responsable de adopciones</li>
                <li><strong>Santiago Álvarez -</strong> Coordinador/a de hogares de tránsito</li>
                <li><strong>Maira Olivera-</strong> Voluntario </li>
                <li><strong>Matias Aguirre -</strong> Voluntario </li>
                <li><strong>Oriana Benz -</strong> Voluntario</li>
                <li><strong>Paulo Cabral -</strong> Voluntario</li>
                <li><strong>Paula Aguirre -</strong> Comunicación y redes</li>
                <li><strong>Diego Núñez -</strong> Desarrollo web y soporte</li>
            </ul>
            <p>
                Trabajamos con corazón, paciencia y mucha esperanza, sabiendo que cada huellita cuenta.
            </p>

            <hr class="my-4">

            <p>
                ¡Gracias por ser parte de nuestra comunidad! 
            </p>
        </div>
    </div>
{% endblock %}